/*HOW IT WOULD LOOK*/
/* Mobile view  */
@media only screen and (max-width: 899px) {
    body {
        background-image: url(/Pictures/backgrounds/mobile/aboutus_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* .onclick-aboutus{
        display: none;
    }
    
    .error{
        margin-left: 60px;
        margin-right: 60px;
    } */
}

/* PC view  */
@media only screen and (min-width: 900px) {

    .error {
        display: none;
    }

    body {
        background-image: url(/Pictures/backgrounds/desktop/aboutus_pc.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* .heading-aboutus {
        background-image: url(/Pictures/about-us2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1250vh;
    }
    
    .onclick-aboutus {
        background-image: url(/Pictures/onclick-about-us.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    .onclick-aboutus-button {
        margin-top: 33rem;
        margin-left: 44rem;
        width: 250px;
        height: 30%;
        background: transparent;
        border-style: none;
        cursor: pointer;
    }
}

/*OUR STORY  - STYLES*/

/*THe lorem ipsum cards*/
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.concert-booking-card-home {
    align-self: flex-end;
}

.card {
    border: 2px solid #f4e7bf;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
    padding: 20px;
    padding-top: 40px;
    /* height: 120px; */
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.jaj {
    align-self: flex-end;
}

/*The flower navigation*/


#flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 80%;

}



#flowerclosed {
    margin-top: -250px;
}



#navlist {
    list-style-image: url(/Pictures/aboutpng/dot.svg);
    color: #FD910A;
    width: 10px;
    position: absolute;
    top: 300px;
    left: 226.5px;
    padding-top: 20px;
}

.navlistitem:hover {
    text-decoration: underline;
}

#flowerclosed {
    position: relative;
}

.navlistitem {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: #FD910A;
    vertical-align: center;
}

#ourstory {
    margin-top: 50vh;
}

li {
    width: 100px;
    line-height: 20px;
    vertical-align: middle;
}

.storytext {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #F4E7BF;
    overflow: hidden;
}

.storytexts {
    width: 300px;
    padding: 10px;
    border: #f4e7bf 2px solid;
    box-shadow: 5px 7px #f4e7bf;
    border-radius: 15px;
}

.storychapter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 200px;
}

.storycontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1000px;
}

.larsimage {
    position: absolute;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 140vh;

}

.push{

    margin-top: 200px;
    margin-bottom: 100px;
}