/*THe main image and title*/

body {
    background-image: url("/Pictures/main_background.png");
    background-repeat: no-repeat;
    background-size: 101%;
    background-position-x: center;
}

/* GIF */
#loader{
	/* position: fixed; */
	width: 100%;
	height: 100vh;
	background: black url('/Pictures/intro-gif.gif') no-repeat center;
	z-index: 20;
}

.maintitle {
    position: relative;
    text-align: center;
    height: 15vh;
    top: 80vh;
}

.whoarewe-section {
    margin-top: 90vh;
}

.title-special-offers {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.cardscontainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.galleryimagep {
    width: 40%;
}

/*THe lorem ipsum cards*/
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.concert-booking-card-home {
    align-self: flex-end;
}

.card {
    border: 2px solid #f4e7bf;
    border-radius: 20px;
    padding: 20px;
    padding-top: 40px;
    /* height: 120px; */
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/*The gallery picture and link*/
.gallerylink {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    text-decoration: none;
}

.galleryimagep {
    margin-bottom: 5px;
}

.galleryimagep, .card, .cardz {
    transition: 0.3s;
}

.galleryimagep:hover, .card:hover, .cardz:hover {
    transform: scale(1.05);
}

.denduer {
    font-size: 35px;
}

.whoarewe {
    margin-top: 40px;
}

.rmaboutus {
    margin-top: -17px;
    text-align: right;
    margin-left: 200px;
}

/* Special offers section */
.specialoffers-section {
    margin-top: 40vh;
}

.specialperson {
    /* margin-top: 400px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    margin-left: 20%;
}

.title{
    padding-top: 40px;
}

.cardz {
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    border: 2px solid #707070;
    border-radius: 35px;
}

/* Mobile view */
@media screen and (max-width:900px) {

    body {
        background-image: url("/Pictures/mobile/mainpage_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .gallerylink {
        display: block;
        width: 80%;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: right;
        -webkit-text-stroke: 1px #f4e7bf;
        color: black;
        -webkit-text-fill-color: #f4e7bf; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f4e7bf;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 80%;
    }

    .social-media-card {
        margin-top: 150px;
    }

    .concert-booking-card-home {
        margin-top: 30px;
        align-self: flex-end;
    }

    .email-card-about-us {
        margin-top: 30px;
    }

    .maintitle {
        position: relative;
        text-align: center;
        height: 100vh;
        top: 70vh;
    }

    .title-special-offers {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .cardz {
        width: 100%;
        max-width: 400px;
        border: 2px solid #f4e7bf;
        border-radius: 35px;
    }
    .whoarewe {
        margin-top: 40px;
    }

    .kromosom {
        font-size: 50px;
    }

    .denduer {
        font-size: 25px;
    }

    .rmaboutus {
        text-align: right;
        margin-left: 100px;
    }

    .title {
        font-size: 44px;
        padding-bottom: 5px;
        text-align: center;
        padding-top: 0px;
    }

    .card {
        border: 2px solid #f4e7bf;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 200px;
    }

    .specialperson {
        display: none;
    }

    .h2{
        font-size: 23px;
    }
}